h1 {
    text-align: center;
}

div {
    display: block;
    margin: 0 auto;
}

div img {
    width: 20%;
    margin: 0 auto;
    display: block;
}

button {
    margin: 0 auto;
    display: block;
}

.body {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.parent {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}